{% extends 'base.html' %}

{% block content %}
<div class="container p-5 text-center">
    <span class="badge shadow rounded-pill mt-4 fs-6" style="background-color: #B3BFFB;color:#06357C; padding:15px;width:150px;">Arijit Singh</span>
    <h1 class="mt-5 fw-1"><b>Emotion Based Song Recomendation</b></h1>
    <p class="mt-3">This Website give you a couple recomendation of songs based on your current emotion</p>
    <a href="/emotion" class="btn shadow rounded-pill px-3 py-2 fw-bold" style="margin-top:80px; background-color: #aafca5; border:none; width:200px;color:white">Mulai</a>
    <div class="container" >
        <img src="{{ url_for('static', filename='img/Saly-10.png') }}" alt="image" width="400">
    </div>
   
</div>

{% endblock %}
